body {
    background-color: sandybrown;
    margin: 0;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    padding: 5px;
    background-color: sienna;
    border-bottom: 5px solid saddlebrown;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

a:link {
    background-color: none;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


